html {
  margin: 0;
  padding: 0;
  width: 100%
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: darkred;
}

.nav {
    text-align: right;
    margin-top: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  list-style: none;
  display: inline-block;
}

a {
  display: block; /* this makes the actual nav BAR take up space */
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-family: montserrat;
  font-weight: lighter;
  padding: 16px 40px;
}

.header {
  text-align: left;
  position: absolute;
  top: 25%; 
}

.header h1 {
  color: #fff;
  font-size: 400%;
}

.grid-1 {
  top: 75%;
  position: absolute;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 400px 200px;
  grid-template-rows: 100px 200px 200px; 
  background-color: #2196F3;
  padding: 10px;
  grid-template-areas: 
  'contentArea contentArea contentArea contentArea'
  'aero french pourOver espresso'
  'aero french pourOver espresso';
}

.grid-1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 10;
  font-size: 20px;
}


.grid-item1 {
  grid-area: contentArea;

}

.grid-item2 {
  grid-area: aero
  
}

.grid-item3 {
  grid-area: french
}

.grid-item4 {
  grid-area: pourOver
}

.grid-item5 {
  grid-area: espresso
}

